.setting-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

.setting-elements{
    display: flex;
    flex-direction: column;
    gap: 30px;
}